/*index html*/
body{
	background-color: #FFFFFF;
}

.logo{
	float: left;
  padding-top: 20px;
  padding-left: 20px;
}

.nav-bar{
	float: right;
  font-size: 25px;
  font-family: 'Overpass', sans-serif;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top{
  height: 90px;
}

.button{
	display: inline-block;
	margin: 0;
  padding-right: 30px;
	text-decoration: none;
}

.lastbutton{
	padding-right: 0px;
}

.button a{
	color: black;
	text-decoration: none;
}

ul{
  list-style:none;
	padding-inline-start: 0px;
	margin-block-start: 0em;
    margin-block-end:0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header{
	background-image: url(../images/leaffade.png);
	background-repeat: no-repeat;
	background-size: cover;
  height: 450px;
	padding-top: 100px;
	text-align: center;
  width: 100%;
}

footer{
  background-color: #FAE4D2;
}

.footer-links{
	display: flex;
	font-size: 16px;
	font-family: 'Muli', sans-serif;
	flex-direction: row;
	justify-content: center;
}

.slogan{
 color: #000000;
 font-size: 20px;
 font-family: "Overpass", verdana, sans-serif;
 font-weight: normal;
 text-align: left;
 padding-left: 500px;
 width: 473px;
}

.projects{
	font-size: 36px;
	font-family: "Chivo", sans-serif;
	font-weight: normal;
	padding: 30px;
}
.project-row{
  clear: both;
}

.headers{
	padding-left: 20px;
}

.box1{
		background-color: #FEF8F2;
    height: 533px;
		margin-bottom: 50px;
		margin-left: 50px;
		margin-right: 50px;
}

.wrap{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.left{
  display: flex;
  flex-direction: row;
}

.description{
	width: 370px;
	padding-left: 55px;
	padding-top: 15px;
}


.ccimages{
	margin: 25px;
	margin-top: 100px;
}

.bjimages{
	margin: 25px;
	margin-top: 100px;
}

.bbimages{
	margin:25px;
	margin-top: 100px;
}

.link {
	background-color: #FAE4D2;
	border: none;
	border-radius: 6px;
	display: inline-block;
	font-size: 36px;
	font-family: "Chivo", sans-serif;
	font-weight: normal;
	padding: 25px 100px;
	text-align: center;
	margin-left: 35px;
	margin-bottom: 10px;
	margin-top: 50px;
}

.link a{
	color: #000000;
	text-decoration: none;
}


/*images*/
.up1-images{
	padding:10px;
	text-align: center;
}

.up2-images{
	padding: 10px;
	text-align: center;
}

.uf-images{
	padding: 10px;
	margin-left: 125px;
}

.uf2-images{
	display:none;
}

.b1-images{
	padding: 10px;
}

.b2-images{
	padding: 10px;
	margin-left: 100px;
}

.b1-2-images{
	display: none;
}

.b3-images{
	padding: 10px;
	margin-left: 100px;
}

.wf1-images{
	width: 100%;
}

.wf2-images{
	width: 100%;
}

.m1-images{
	margin-left: 65px;
	width: 30%;
}

.m2-images{
	width: 30%;
}

.m3-images{
	width: 30%;
}

.m4-images{
	margin-left: 65px;
	width: 30%;
}

.m5-images{
	width: 30%;
}

.m6-images{
	width: 30%;
}


.amd-images{
	width: 100%;
	height: 100%;
}

.leaf-images{
	width: 100%;
	height: 100%;
}

.op-images{
	padding-top: 100px;
	padding-bottom: 100px;
}

/*text*/
h1{
  font-size: 62px;
  font-family: "Chivo", sans-serif;
  font-weight: normal;
	color: #000000;
}

h2{
  font-size: 36px;
  font-family: "Overpass", sans-serif;
  font-weight: normal;
	padding-top: 150px;
	padding-left: 55px;
	width: 370px;
	margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3{
	font-size: 36px;
	font-family: "Overpass", sans-serif;
	font-weight: normal;
	text-align: center;
	padding-bottom: 20px;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

h4{
	font-size: 62px;
	font-family: "Chivo", sans-serif;
	font-weight: normal;
	margin: 10px;
	padding-top: 100px;
}

h5{
	font-size: 22px;
	font-family: "Muli", sans-serif;
	font-weight: normal;
	color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h6{
	font-size: 12px;
	font-family: "Muli", sans-serif;
	font-weight: normal;
	color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p{
	font-size: 16px;
	font-family: "Overpass", sans-serif;
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



/*project page*/

.project-text{
	width: 630px;
	text-align: left;
}

.project-link{
	background-color: #FEF8F2;
	font-family: "Muli", sans-serif;
}

.project-link2{
	background-color: #FAE4D2;
	border: none;
	border-radius: 6px;
	display: inline-block;
	font-size: 32px;
	font-family: "Muli", sans-serif;
	font-weight: normal;
	padding: 25px 100px;
	text-align: center;
}

.cc-project{
	width: 233px;
	height: 483px;
	padding: 20px;
}

.cloudcooking{
	background-color: #FAE4D2;
	width: 100%;
	text-align: center;
	padding-bottom: 100px;
}

.competitive-analysis{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.cc-brandlogos{
	padding: 20px;
	text-align: center;
}

.user-survey{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.user-personas{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.user-stories{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.user-flows{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.branding{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.wireframes{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.user-testing{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.conclusion{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
/* about me */
.aboutme{
	text-align:center;
	background-color: #FEF8F2;
	width: 100%;
}

.aboutme-description{
	width: 630px;
	text-align: left;
}

.am2{
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Media Queries*/

/*ipad*/
@media screen and (max-width: 1024px){
  .container {
  width: 100%;
}

.about-description{
	padding: 25px;
}

.aboutme{
	margin-left: 25px;
}

.description{
	display: none;
}

.left{
	display: flex;
	flex-direction: row;
	align-self: flex-start;
}
.link{
	margin-top: 25px;
}

.ccimages{
	padding: 10px;
}
.ccimages2{
	display: none;
}

.bjimages{
	width: 100%;
}

.bbimages1{
	padding: 10px;
}

.bbimages2{
	display: none;
}

/*about me ipad */
.grid-container6{
	display: block;
	grid-row-gap: 10px;
	grid-template-rows:auto;
}

.amd-images{
	display: none;
}

.leaf-images{
	display: none;
}

/*projects ipad*/
.grid-container1{
	display: block;
}


.grid-container2{
	display: block;
}

.grid-container3{
	display: block;
	padding-top: 0px;
}

.grid-container4{
	display: block;
}

.grid-container5{
	display: block;
	grid-row-gap: 0px;
}

.item3{
	background-color: #D3DCDE; /*blue*/
}

.item4{
	background-color: #CFD9BB;
}

.item6{
	background-color: #CFD9BB; /*green*/
}

.item7{
	background-color: #D3DCDE;
}
.item8{
	padding-top: 0px;
	background-color: #D3DCDE;
}

.item9{
	background-color: #CFD9BB;
}

.item10{
	padding-top: 0px;
	background-color: #CFD9BB;
}
.item11{
	background-color: #CFD9BB;
}

.item12{
	background-color: #D3DCDE; /*blue*/
}
.item13{
	padding-top: 0px;
	background-color: #D3DCDE; /*blue*/
}

.item14{
	background-color: #CFD9BB; /*green*/
}
.item15{
	padding-top: 0px;
	background-color: #CFD9BB; /*green*/
}


/*mobile*/

@media screen and (max-width: 575px){
  .container {
  width: 100%;
}

.logo{
	float: left;
  padding-top: 10px;
  padding-left: 10px;
	padding-bottom: 10px;
}

.nav-bar{
	align-self: start;
	font-size: 15px;
	font-family: 'Overpass', sans-serif;
	padding: 0px;
}

.top{
	margin-bottom: 10px;
}

header{
	background-image: url(../images/herodark.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  height: 250px;
	padding-top: 100px;
	text-align: center;
  width: 100%;
}

h1{
	font-size: 36px;
}

h2{
	margin: 10px;
	padding-left: 0px;
	font-size: 28px;
	padding-top: 10px;
}

h4{
	margin: 10px;
	font-size: 36px;
	padding: 10px;
	text-align: center;
}

.slogan{
	font-size: 16px;
}

.link{
	border: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 35px;
}
.top{
  height: 50px;
}

.col2{
	margin-top: 10px;
  width: 100%;
	height: auto;
}

.col1{
	background-color: #CFD9BB;
	margin-top: 10px;
  width: 100%;
	height: auto;
}

.wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-description{
	display: none;
}

.description{
	display: none;
}

.aboutme{
	margin-top: 100px;
	margin-left: 100px;
}

.project-row{
  clear: both;
}

.wrap{
	display: flex;
	flex-direction: column;
}

.footer{
  justify-content: space-around;
		padding-left: 1px;
}

/*images*/

.bjimages{
	width: 95%;
}

.ccimages{
	width: 170px;
	padding: 0px;
}

.ccimages2{
	display: block;
}

.bbimages{
	width: 180px;
	padding: 0px;
}

.bbimages2{
	display: block;
}

.up1-images{
	padding-left: 25px
}

.up2-images{
	padding-left: 25px
}

.uf2-images{
	display: block;
	width: 100%;
}


.b1-2-images{
	display:block;
	width: 100%;
}

.m1-images{
	display:block;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.m2-images{
	width: 100%;
	padding: 0px;
}

.m3-images{
	width: 100%;
	padding: 0px;
}
.m4-images{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.m5-images{
	width: 100%;
	padding: 0px;
}
.m6-images{
	width: 100%;
	padding: 0px;
}

.op-images{
	padding-top: 100px;
	padding-bottom: 100px;
}
