
.nav{
	height: 100px;
	width: 100%;
	padding: 31px;
  background-color: FCEFCD;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.logo{
	float: left;
  padding-top: 20px;
  padding-left: 20px;
}

.nav-bar{
	float: right;
  font-size: 25px;
  font-family: 'Overpass', sans-serif;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top{
  height: 90px;
}

.button{
  padding-left: 30px;
  display: inline-block;
  margin: 0;
}

ul{
  list-style:none;
}


header{
	background-image: url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  height: 350px;
  width: 100%;
	padding-top: 100px;
  text-align: center;
}

.project-row{
  clear: both;
}

.col1{
  background-image: url(../images/oceanpic.jpg);
	background-repeat: no-repeat;
  background-size: cover;
  height: 533px;
  width: 48%;
  float: left;
}

.col2{
    float: right;
    height: 533px;
    width: 48%;
}

.wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left{
  display: flex;
  flex-direction: row;
}

.right{
	display: flex;
	flex-direction: row;

}

.slogan{
  font-size: 36px;
  font-family: "Chivo", verdana, sans-serif;
  font-weight: normal;
}

h1{
  font-size: 62px;
  font-family: "Chivo", verdana, sans-serif;
  font-weight: normal;

}

h2{
  font-size: 36px;
  font-family: "Chivo", verdana, sans-serif;
  font-weight: normal;
}

p{
  font-size: 16px;
  font-family: "Overpass", verdana, sans-serif;
  font-weight: normal;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
