/*index html*/
body{
	background-color: #FFFFFF;
	margin: 0px;
}

.logo{
	float: left;
  padding-top: 20px;
  padding-left: 20px;
}

.nav-bar{
	float: right;
  font-size: 25px;
  font-family: 'Overpass', sans-serif;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top{
  height: 90px;
}

.button{
	display: inline-block;
	margin: 0;
  padding-right: 30px;
	text-decoration: none;
}

.lastbutton{
	padding-right: 0px;
}

.button a{
	color: black;
	text-decoration: none;
}

ul{
  list-style:none;
	padding-inline-start: 0px;
	margin-block-start: 0em;
    margin-block-end:0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header{
	background-image: url(../images/leaffade.png);
	background-repeat: no-repeat;
	background-size: cover;
  height: 450px;
	padding-top: 100px;
	text-align: center;
  width: 100%;
}

footer{
  background-color: #FAE4D2;
}

.footer-links{
	display: flex;
	font-size: 16px;
	font-family: 'Muli', sans-serif;
	flex-direction: row;
	justify-content: center;
}

.slogan{
 color: #000000;
 font-size: 20px;
 font-family: "Overpass", verdana, sans-serif;
 font-weight: normal;
 text-align: left;
 margin-left: auto;
 margin-right: auto;
 width: 473px;
}

.projects{
	font-size: 36px;
	font-family: "Chivo", sans-serif;
	font-weight: normal;
	padding: 30px;
}
.project-row{
  clear: both;
}

.headers{
	padding-left: 20px;
}

.box1{
		background-color: #FEF8F2;
    height: 533px;
		margin-bottom: 50px;
		margin-left: 50px;
		margin-right: 50px;
		padding-bottom: 50px;
}

.wrap{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.left{
  display: flex;
  flex-direction: row;
	align-items: flex-end;
}

.description{
	width: 370px;
	padding-left: 55px;
	padding-top: 15px;
}


.ccimages{
	margin: 25px;
	margin-top: 100px;
	box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bjimages{
	margin: 25px;
	margin-top: 100px;
  box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bbimages{
	margin:25px;
	margin-top: 100px;
	box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.link {
	background-color: #FAE4D2;
	border: none;
	border-radius: 6px;
	display: inline-block;
	font-size: 22px;
	font-family: "Chivo", sans-serif;
	font-weight: normal;
	padding: 10px 10px;
	text-align: center;
	margin-left: 100px;
	margin-bottom: 10px;
	margin-top: 50px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	width: 200px;
}

.link a{
	color: #000000;
	text-decoration: none;
}

.connect-page{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
/*images*/

.cc-brandlogos{
	padding: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.cc-row{
		display: flex;
		justify-content: center;
	}
.cc-column{
	justify-content: center;
}

/*persona flex */
.persona-container{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
}

.persona-grid{
  justify-content: center;
	padding: 20px;
}

.up1-images{
	padding:10px;
	text-align: center;
}

.up2-images{
	padding: 10px;
	text-align: center;
}

/*end persona flex*/

.us-images{
	padding: 20px;
	display: block;
	margin: auto;
}

.uf-images{
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.uf2-images{
	display:none;
}

.b1-images{
	padding: 10px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.b2-images{
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.b1-2-images{
	display: none;
}

.b3-images{
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.wf1-images{
	width: 100%;
}

.wf2-images{
	width: 100%;
	padding-top: 50px;
}

/*mock up flex */
.mockup-row{
	display: flex;
	justify-content: center;
}

.mockup-column{
	justify-content: center;
}

.m4-images{
	padding-top: 50px;
}

.m5-images{
	padding-top: 50px;

}

.m6-images{
	padding-top: 50px;

}
/*end mockup flex*/

.amd-images{
	width: 100%;
	height: 100%;
}

.leaf-images{
	width: 100%;
	height: 100%;
}

.op-images{
	padding-top: 50px;
	padding-bottom: 50px;
}


/*text*/
h1{
  font-size: 62px;
  font-family: "Chivo", sans-serif;
  font-weight: normal;
	color: #000000;
}

h2{
  font-size: 36px;
  font-family: "Overpass", sans-serif;
  font-weight: normal;
	padding-top: 100px;
	padding-left: 55px;
	width: 370px;
	margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3{
	font-size: 36px;
	font-family: "Overpass", sans-serif;
	font-weight: normal;
	text-align: center;
	padding-bottom: 20px;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

h4{
	font-size: 62px;
	font-family: "Chivo", sans-serif;
	font-weight: normal;
	margin: 10px;
	padding-top: 100px;
}

h5{
	font-size: 22px;
	font-family: "Muli", sans-serif;
	font-weight: normal;
	color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h6{
	font-size: 12px;
	font-family: "Muli", sans-serif;
	font-weight: normal;
	color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


p{
	font-size: 20px;
	font-family: "Overpass", sans-serif;
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/*project page*/

.project-text{
	width: 630px;
	text-align: left;
	margin: auto;
	margin-bottom: 15px;
}

.under-pt{
	padding-top: 20px;
}

.project-link{
	background-color: #FEF8F2;
	font-family: "Muli", sans-serif;
	font-weight: lighter;
  font-size: 22px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.project-link2{
	font-family: "Muli", sans-serif;
	font-weight: lighter;
  font-size: 22px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;

}

.cc-project{
	width: 233px;
	height: 483px;
	padding: 20px;
}


.cloudcooking{
	background-color: #FAE4D2;
	width: 100%;
	text-align: center;
	padding-bottom: 100px;
}

.competitive-analysis{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.comp-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #FAE4D2;
  padding: 10px;
	text-align: center;
}

.comp-grid {
	background-color: #FFFFFF;
  border: 5px solid #FEF8F2;
  padding: 10px;
  text-align: left;
}


.user-survey{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

table, th, td{
	margin: auto;
	padding: 15px;
	font-size: 20px;
	font-family: "Overpass", sans-serif;
	margin-top: 25px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

th{
	width: 33%;
}

.personas{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.userp-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #FAE4D2;
	width: 75%;
	margin-left: auto;
	margin-right: auto;

}
.userp-grid {
  background-color: #FEF8F2;
  border: 5px solid #FAE4D2;
  padding: 20px;
  text-align: left;
}

.user-stories{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.user-flows{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.branding{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.wireframes{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.user-testing{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.conclusion{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

/* about me page*/
.aboutme{
	text-align:center;
	background-color: #FEF8F2;
	width: 100%;
}

.aboutme-description{
	width: 630px;
	text-align: left;
	margin: auto;
	padding-bottom: 100px;
}

.am2{
	padding-top: 25px;
	padding-bottom: 25px;
}

/* Media Queries*/

/*ipad*/
@media screen and (max-width: 1024px){
  .container {
  width: 100%;
}
.slogan{
	width: 473px;
	margin: auto;
	padding: 0px;
}
.project-text{
	width: 500px;
}
.aboutme-description{
	width: 500px;
}
.cc-project3{
		display: none;
	}
	.us-images{
		width: 80%;
	}
	.b1-images{
		width: 80%;
	}
	.b2-images{
		width: 80%;
	}
	.b3-images{
		width: 80%;
	}
	.cc-brandlogos{
		width: 80%;
	}

.link{
	width: 150px;
	font-size:22px;
}

.up1-images{
	padding:10px;
	text-align: center;
}

.up2-images{
	padding: 10px;
	padding-top: 10px;
	text-align: center;
}
.op-images{
	padding-top: 25px;
	padding-bottom:25px;
}

.comp-container {
  display: grid;
  grid-template-columns: auto;
}


@media screen and (max-width: 1000px){
  .container {
  width: 100%;
}
.ccimages2{
	display: none;
}
.bjimages{
	display: none;
}

.bbimages2{
	display: none;
}


/*mobile*/

@media screen and (max-width: 575px){
  .container {
  width: 100%;
}
.top{
	height: 60px;
}

.logo{
	float: left;
  padding-top: 10px;
  padding-left: 10px;
	padding-bottom: 10px;
}

.nav-bar{
	align-self: start;
	font-size: 20px;
	font-family: 'Overpass', sans-serif;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.link{
	width: 200px;
	font-size:22px;
	margin-left: auto;
	margin-right: auto;
	display: inherit;

}

header{
	height:auto;
	padding-top: 25px;
	padding-bottom: 25px;
}
h1{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 55px;
}

.box1{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	height: auto;
	padding-bottom: 50px;
}

h2{
	padding-top: 20px;
	padding-left: 25px;
}

h4{
	padding-top: 20px;
	font-size: 55px;
}

.slogan{
	width: 300px;
	margin: auto;
	padding: 0px;
}

.ccimages{
	display: none;
}
.bjimages{
	display:none;
}
.bbimages{
	display: none;
}
.description {
    width: 88%;
    padding-left: 25px;
	}
	.projects{
		padding: 15px;
	}
.op-images{
	width: 80%;
}
.cc-project2{
	display: none;
}

.project-text{
	width: 350px;
}
.aboutme-description{
	width: 300px;
}

.uf-images{
	width: 80%;
}

.us-images{
	width: 80%;
}

.b1-images{
	width: 80%;
}
.b2-images{
	width: 80%;
}
.b3-images{
	width: 80%;
}
.cc-brandlogos{
	width: 80%;
}
/*mock up flex */
.mockup-row{
	display: block;
}

.mockup-column{
	justify-content: center;
}
/*end mockup flex*/

.m4-images{
	display: none;
}

.m5-images{
	display: none;
}
.cloudcooking{
	background-color: #FAE4D2;
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.competitive-analysis{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.user-survey{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.personas{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.persona-container{
	display: none;
}

.userp-container{
	display: grid;
	grid-template-columns: auto;
}

.user-stories{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.user-flows{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.branding{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.wireframes{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 50px;
}

.user-testing{
	background-color: #FEF8F2;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.conclusion{
	background-color:#ffffff;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
